.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 95%;
  color: #cd201f;
}
.wrap-login100-form-btn button:hover{
	background-color:#4e1485;
}

/* Loader */
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.hide{display:none;}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Datatables ColVis Buttons Css */
.dt-button.buttons-collection.buttons-colvis{
	display: block;
    width: 100%;
	padding: 6px 12px;
	box-shadow: none;
	outline: none;
	border: 1px solid transparent;
	background: #00c0ef;
    border-color: #00acd6;
	border-radius: 3px;
	color: #fff;
}
.dt-button.buttons-collection.buttons-colvis:hover{
	color: #fff;
    background: #269abc;
    border-color: #1b6d85;
}
.dt-button-collection.fixed.two-column{
	background: rgba(0,0,0,0.5);
	padding: 5px;
}
a.dt-button.buttons-columnVisibility.active{
	display: block;
    width: 100%;
	padding: 6px 12px;
	box-shadow: inset 1px 1px 5px #333 !important;
	outline: none;
	background: #605ca8 !important;
	border: 1px solid transparent;
	border-color: #9c4ee4;
	border-radius: 3px;
	color: #fff;
}
a.dt-button.buttons-columnVisibility{
	display: block;
    width: 100%;
	padding: 6px 12px;
	outline: none;
	background: #f4f4f4 !important;
	border: 1px solid transparent;
    border-color: #ddd;
	border-radius: 3px;
	color: #444;
}
/* Description Details Css */
td.details-control{position:relative;}
.description_table {height:10px;}
.description_table td{padding:2px 10px;}
td.details-control:before {
  content: "\f0fe";
  font-family: FontAwesome;
  left:5px;
  position:absolute;
  top:8px;
  cursor: pointer;
  font-size:16px;
  color: rgba(137,43,225,1);
}
tr.shown td.details-control:before {
  content: "\f146";
  font-family: FontAwesome;
  left:5px;
  position:absolute;
  top:8px;
  cursor: pointer;
  font-size:16px;
  color: rgba(137,43,225,1);
}

/* Glyphicon Picture Icon Css */
.glyphicon-picture{color:#777;}
.glyphicon-picture:hover{color:rgba(0,0,0,0.8);}

/* Listing Images */
#image-box{
	display: flex;
	flex-wrap:wrap;
}
#image-box .image_container{
	flex:33.3%;
	max-width: 33.3%;
	margin-bottom:5px;
}
#image-box .edit_image_container{
	flex:21%;
	max-width: 21%;
}
#image-box img{
	height: calc(9em + 10px);
    width: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px #999;
}